@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;
}

.about p{
    text-align: center;
    background-color: yellow;
}

.about h3{
    text-align: center;
    background-color: magenta;
}


section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') n0-repeat top center / cover;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}


  .main .title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    color: #0c93d6;
    text-transform: uppercase;
    text-align: center;
  }
  
  .main .form{
    margin: 2% 10% 10% 10%;
    width: 75%;
  }
  
  .main .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .main .form .inputfield label{
     width: 200px;
     color: #0079b6;
     margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .main .form .inputfield .input,
  .main .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .main .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .main .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .main .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .main .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .main .form .inputfield .input:focus,
  .main .form .inputfield .textarea:focus,
  .main .form .inputfield .custom_select select:focus{
    border: 1px solid #69bde7;
  }
  
  .main .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .main .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .main .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .main .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #0398e2;
    display: block;
    position: relative;
  }
  .main .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .main .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #69bde7;
  }
  
  .main .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .main .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #69bde7;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .main .form .inputfield .btn:hover{
    background: #69bde7;
  }
  
  .main .form .inputfield:last-child{
    margin-bottom: 0;
  }

  .wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .wrap .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .contact{
    display: flex;
  }
  
  .fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .fields,
  .msg{
    width: 48%;
  }
  
  .fields .in,
  .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }
  
  .msg textarea{
    height: 212px;
  }
  
  ::-webkit-in-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
  }
  :-ms-in-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
  }
  
  .bt {
      background: #39b7dd;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
  }

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 840px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #50a9d6;
    }
    
    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }

    .main .form .inputfield{
        flex-direction: column;
        align-items: flex-start;
      }
      .main .form .inputfield label{
        margin-bottom: 5px;
      }
      .main .form .inputfield.terms{
        flex-direction: row;
      }

      .contact{
        flex-direction: column;
      }
      .msg textarea{
        height: 80px;
      }
      .fields,
      .msg{
        width: 100%;
      }

}

.contact-page{
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .big{
    width: 100%;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #322;
    font-size: 60px;
  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .item{
    margin-bottom: 24px;
    font-size: 16px;
    color: #322;
  }
  
  .icon{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #3494db;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .textb{
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .text5{
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .b{
    width: 120px;
    height: 40px;
    margin-left: auto;
    background-color: #3494db;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #3494db;
    transition: .3s linear;
  }
  
  .b:hover{
    background-color: transparent;
    color: #3494db;
  }
  
  @media screen and (max-width: 980px){
    .contact-page{
      max-width: 800px;
    }
    h2{
      font-size: 40px;
      margin-bottom: 40px;
    }
  
    .contact-info, .contact-form{
      flex: 100%;
      margin-bottom: 30px;
    }
    .textb{
      width: 100%;
    }
  }

.services{
  background: #f1f1f1;
  text-align: center;
}
.services h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover{
  background: #ddd;
}
.service i{
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p{
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

.images{
    overflow: hidden;
    text-align: center;
  }
  .images img{
    width: 300px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
  }
  .images img:hover{
    opacity: 0.8;
  }
  .pre{
    width: 900px;
    height: 520px;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  .pre img{
    width: 100%;
    height: 100%;
  }
  .pre a{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  
@media screen and (max-width: 800px) {
  .service{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service{
    width: 100%;
  }
}

/* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}

#head{
  color: #ffffff;
  background: #324960;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* a img {
  max-width: 100% !important;
  height: auto !important;
} */

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}
